<p id="notice"><%= notice %></p>

<p>
  <strong>Origine rech:</strong>
  <%= @acquereur.origine_rech %>
</p>

<p>
  <strong>Civilite:</strong>
  <%= @acquereur.civilite %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @acquereur.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @acquereur.nom %>
</p>

<p>
  <strong>Num rue:</strong>
  <%= @acquereur.num_rue %>
</p>

<p>
  <strong>Type rue:</strong>
  <%= @acquereur.type_rue %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @acquereur.adresse %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @acquereur.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @acquereur.ville %>
</p>

<p>
  <strong>Tel princ:</strong>
  <%= @acquereur.tel_princ %>
</p>

<p>
  <strong>Tel type:</strong>
  <%= @acquereur.tel_type %>
</p>

<p>
  <strong>Email princ:</strong>
  <%= @acquereur.email_princ %>
</p>

<p>
  <strong>Email type:</strong>
  <%= @acquereur.email_type %>
</p>

<p>
  <strong>Fax princ:</strong>
  <%= @acquereur.fax_princ %>
</p>

<p>
  <strong>R cp:</strong>
  <%= @acquereur.r_cp %>
</p>

<%= link_to 'Edit', edit_acquereur_path(@acquereur) %> |
<%= link_to 'Back', acquereurs_path %>
