<ul class="nav nav-tabs">
  <li><%= link_to 'Bienvenue', root_path %></li>
  <li><%= link_to 'Utilisateurs', utilisateurs_path %></li>
  <li><%= link_to 'Programmes', programmes_path %></li>
  <li><%= link_to 'Groupes', groupes_path %></li>
  <li><%= link_to 'Agences', agences_path %></li>
  <li><%= link_to 'Déconnexion' %></li>
</ul>


