<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="panel panel-default">
    <div class="panel-heading">Propriétaires</div>  
       <%= form_for @proprietaire do |a| %>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">Coordonées du proprietaire : </div>
            </div>

            <div class="row">
                <div class="col-lg-2"><%= a.text_field :civilite, placeholder: 'Civilite' %></div>
                <div class="col-lg-2"><%= a.text_field :prenom, placeholder: 'Prénom' %></div>
                <div class="col-lg-2"><%= a.text_field :nom, placeholder: 'Nom' %></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-2"></div>
            </div>


            <div class="row">
              <div class="col-lg-2"><%= a.text_field :num_voie, placeholder: 'N° de la voie' %></div>
              <div class="col-lg-2"><%= a.text_field :voie, placeholder: 'Voie' %></div>
              <div class="col-lg-2"><%= a.text_field :adresse, placeholder: 'Adresse' %></div>
            </div>

          <div class="row">
            <div class="col-lg-2"><%= a.text_field :cp, placeholder: 'Code postal' %></div>
            <div class="col-lg-2"><%= a.text_field :ville, placeholder: 'Ville' %></div>
            <div class="col-lg-2"><%= a.text_field :pays, placeholder: 'Pays' %></div>
          </div>


            <div class="row">
              <div class="col-lg-2"><%= a.text_field :tel_dom, placeholder: 'Téléphone domicile' %></div>
              <div class="col-lg-2"><%= a.text_field :tel_port, placeholder: 'Téléphone portable' %></div>
              <div class="col-lg-2"><%= a.text_field :tel_bur_string, placeholder: 'Téléphone bureau' %></div>
              <div class="col-lg-2"><%= a.text_field :email, placeholder: 'email' %></div>
              <div class="col-lg-2"></div>
              <div class="col-lg-2"></div>
            </div>


          <%= a.submit %>
          </div>
    </div>
  </div>
  <% end %>
</div>
