<div class="container" xmlns="http://www.w3.org/1999/html">
  <% # = render 'nav_agence_show' %>

  <div class="row">
    <%= form_for @agence do |a| %>



        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h1>Edition de la fiche de l'agence : <%= @agence.raison_sociale %></h1></div>


          <table class="table">

            <div class="row">
              <div class="span3"><%= a.text_field :raison_sociale %></div>
              <div class="span3"><%= a.text_field :responsable %></div>
            </div>

            <div class="row">
              <div class="span3">Téléphone : <%= @agence.telephone %></div>
              <div class="span3"><%= mail_to @agence.email %></div>
            </div>

            <div class="row">
              <div class="span3"><%= @agence.adresse %> </div>
              <div class="span3"><%= @agence.cp %></div>
              <div class="span3"><%= @agence.progouinon %></div>
            </div>
        </div>
        </table>
        </div>

        <%= a.label :raison_sociale %> <%= a.text_field :raison_sociale %><br>
        <%= a.label :responsable %>       <%= a.text_field :responsable %><br>
        <%= a.label :telephone %>  <%= a.text_field :telephone %><br>
        <%= a.label :progouinon %>  <%= a.select :progouinon, ["Oui","Non"] %><br>
        <%= a.label :email %>  <%= a.text_field :email %><br>
        <%= a.label :rappelouinon %>
        <%= a.label :adresse %>  <%= a.text_field :adresse %><br>
        <%= a.label :cp %>  <%= a.text_field :cp %><br>

        Rappeler le : | <%= a.text_field :rappelouinon %><br> | le |<%= a.datetime_select :rappel %>|<br>

        <br>

        <%= a.submit %>

    <% end %>
  </div>



</div>