<div class="container">
<%= render 'layouts/nav' %><br>

Edit Agence


<%= bootstrap_form_for @agence do |a| %>
    <%= a.text_field :raison_sociale, hide_label: :true, placeholder: "Raison sociale"  %><br>
    <%= a.text_field :responsable, hide_label: :true, placeholder: "Responsable"  %><br>

    <%= a.label :progouinon %>  <%= a.select :progouinon, ["", "Oui", "Non"] %><br>

    <%= a.label :progouinon %>  Oui <%= a.radio_button :progouinon, ["Oui"] %> Non<%= a.radio_button :progouinon, ["Non"] %><br>
    <%= a.text_field :email, hide_label: :true, placeholder: "adresse mail"  %><br>

    <%= a.label :Rappeller %> :  <%= a.select :rappelouinon, ["", "Oui", "Non"] %> le

<div class="spann2">
    <%= a.date_select :rappel %><br>
</div>
 <div class="spann2">
  <%= a.time_select :rappel %><br>
</div>

      <%= a.text_field :adresse %><br>
    <%= a.text_field :cp %><br>
<%= a.submit "Log In", class: "btn btn-success" %>
    <%= a.submit 'Maj', class: "btn btn-success" %>
<% end %>

</div>