  <h3><a href="/">Mon Site</a></h3>
      <ul>
        <li> <a href="">Lien</a> </li>
        <li><%= link_to 'Bienvenue', root_path %></li>
        <li><%= link_to 'Utilisateurs', utilisateurs_path %></li>
        <li><%= link_to 'Programmes', programmes_path %></li>
        <li><%= link_to 'Agences', agences_path %></li>
        <li><%= link_to 'Groupes', groupes_path %></li>
        </ul>

<h1>Bienvenue test</h1>
